
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.13.0/css/all.css">
 <!--<link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/chosen/1.1.0/chosen.css">-->
<style>

  .mis-banner {
    background-color: #fff;
    color: #333;
    border-bottom: #000 solid 2px;
    margin-bottom: 10px;
  }

   .mis-footer {
    background-color: #fff;
    color: #333;
    border-top: #000 solid 2px;
    margin-top: 10px;
  }

 .data-row {
       border-bottom: #cccccc solid 1px;
       font-size: 1rem;
       padding-left: 5px;
    }

  .form-container {
    background-color: #e6e6e6;
    padding: 5px;
  }



.electiontitle {
  font-size: 1.3rem;
  color: #666;
  font-weight: bold;
}
.electioncountryname {
  color: darkblue;
}


.electionview {
    font-size: 12px;
    font-family: arial;
}
table.viewer {
  border-collapse: collapse;
}

table.viewer, td, th {
  border: 1px solid black;
}

.subhead-row, .subhead-row-enabled {
  background-color: #248f8f;
  color: #fff;
  padding-top: 5px;
  padding-left: 5px;  
}
.badge-primary {
 background-color: darkblue;
  color: #fff;
}

.is-primary {
  background-color: green;
  color: #fff;
}

th.eg {
  background-color: #248f8f;
  color: #fff;
}

p {
  line-height: 1.2;
  font-size: 0.9rem;
}
.disabled {
  color: #999;
}

.isdisabled {
  color: #999999;

}
.source {
  font-style: italic;
  color: darkgreen;
}

.details {
  font-style: italic;
  color: darkblue;
}


.list-inline {
    list-style: none;
    padding: 0;
}

.list-inline > li {
    display: inline;
}


 .form-subhead {
  font-size: 18px;
  color: darkblue;
 }


.checkboxer {
  vertical-align: center;
  padding-top: 10px;
  text-align: right;
}

input[type=checkbox]
{
  /* Double-sized Checkboxes */
  -ms-transform: scale(2); /* IE */
  -moz-transform: scale(2); /* FF */
  -webkit-transform: scale(2); /* Safari and Chrome */
  -o-transform: scale(2); /* Opera */
  transform: scale(2);
  padding: 10px;
}


.form-title {
     color: darkorange;
     font-size: 1.5rem;
     text-align: right;
   }


.form-election {
     color: darkblue;
     font-size: 1.2rem;
   }


.badge-pending {
    color: #fff;
    background-color: #cccccc;
}

.greenie {
  color: green;
}

.acenter {
        text-align: center;
    }

.notpublished {
      background-color: red;
      color: #fff;
      padding: 5px;
    }

.submitted {
      background-color: lightgreen;
      color: #000;
      padding: 5px;
    }

.published {
      background-color: green;
      color: #fff;
      padding: 5px;
    }

.declared {
      background-color: lightgreen;
      color: #000;
      padding: 5px;
    }

.range {
      background-color: lightblue;
      color: #000;
      padding: 5px;
    }

.defaultnone {
      background-color: #cccccc;
      color: #fff;
      padding-left: 10px;
      padding-right: 10px;
      font-weight: normal;
    }


</style>