{% extends 'myeguide/profile.html' %}
{% load breadcrumb_tags %}

{% block breadcrumbs %}	
	{{block.super}}
	{% breadcrumb "Change Password" "account_change_password" %}

{% endblock breadcrumbs %}	


{% block content %}

<section class="box">
	<h3><span>Change Password</span></h3>
	
	<form method="POST" action="" class="password_change">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-danger" type="submit" name="action">Change Password</button>
    </form>


</section>
{% endblock %}
